<html>
	<head>
		<title>kırmızı şemsiye'nin blogu</title>
	</head>
<body>
	<p>Merhaba!</p>
	<p>Çalışıyor!</p>
	<p>Teşekkürler Arya çalıştı :)</p>
	<p>bugün de bitmedi ama oldu Ryu</p>
</body>
</html>


html
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div> 
{% endfor %}    
        
    </body>
</html>

